

<!DOCTYPE html>
<html class="no-js">
   <head>
      <title>
         Toronto Restaurants, Dentists, Bars, Beauty Salons, Doctors    
      </title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="Content-Language" content="en">
      <link rel="canonical" href="https://www.yelp.ca/">
      <link href="https://m.yelp.ca/toronto" hreflang="en-ca" rel="alternate">
      <link href="https://fr.m.yelp.ca/toronto" hreflang="fr-ca" rel="alternate">
      <link rel="stylesheet" type="text/css" media="all" href="https://s3-media3.fl.yelpcdn.com/assets/2/mobile/css/35fcdf3421d0/mobile-pkg.css">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="apple-touch-icon" sizes="152x152" href="https://s3-media3.fl.yelpcdn.com/assets/2/mobile/img/c0103fc5afec/mobile/homescreen_ipad_retina.png">
      <link rel="apple-touch-icon" sizes="120x120" href="https://s3-media4.fl.yelpcdn.com/assets/2/mobile/img/b06b797be45f/mobile/homescreen_iphone_retina.png">
      <link rel="apple-touch-icon" sizes="76x76" href="https://s3-media1.fl.yelpcdn.com/assets/2/mobile/img/92be110d2af0/mobile/homescreen_ipad.png">
      <link rel="apple-touch-icon" href="https://s3-media2.fl.yelpcdn.com/assets/2/mobile/img/e0c5dde90469/mobile/homescreen_iphone.png">
      <link rel="icon" sizes="192x192" href="https://s3-media4.fl.yelpcdn.com/assets/2/mobile/img/fa42a5ca2686/mobile/homescreen_android.png">
      <meta name="description" content="Toronto - User Reviews and Recommendations of Top Restaurants, Nightlife, Shopping, Entertainment, Services and More at Yelp">
      <meta name="format-detection" content="telephone=no address=no">
      <meta name="msapplication-tap-highlight" content="no" />
      <!-- without this , the page wont show-->
      <script>        (function(H){H.className=H.className.replace(/\bno-js\b/,'js');})(document.documentElement);</script>
      <!--Need this for menu, search works when delete-->
      <script type="text/javascript" src="../yelp_mobile/menu.js"></script>
      <link href="https://www.facebook.com/yelp" itemprop="sameAs" id="sitelink-profile-facebook">
      <link href="https://twitter.com/yelp" itemprop="sameAs" id="sitelink-profile-twitter">
      <link href="https://www.linkedin.com/company/31517" itemprop="sameAs" id="sitelink-profile-linkedin">
      <link href="https://instagram.com/yelp" itemprop="sameAs" id="sitelink-profile-instagram">
      <meta itemscope itemtype="http://schema.org/WebSite" itemref="sitename sitelink  sitelink-profile-facebook sitelink-profile-twitter sitelink-profile-linkedin sitelink-profile-instagram">
      <meta itemprop="name" content="Yelp" id="sitename">
      <link href="https://www.yelp.ca/" itemprop="url" id="sitelink">
      <style type="text/css">#d__fFH{position:absolute;top:-5000px;left:-5000px}#d__fF{font-family:serif;font-size:200px;visibility:hidden}#ecxzwrvtwqwtef{display:none!important}</style>
   </head>
   <body class="ios responsive country-ca">
      <script>(function (d, w) {
         var supportsSVG = (
             !!d.createElementNS &&
             !!d.createElementNS(
                 'http://www.w3.org/2000/svg',
                 'svg'
             ).createSVGRect
         );
         var cdnPath = 'https://s3-media4.fl.yelpcdn.com/assets/srv0/svg_icons/76fa4b7a6032/assets/svg_sprite.js';
         var head = d.getElementsByTagName('head')[0];
         function fallback() {
             var link = d.createElement('link');
             link.rel = 'stylesheet';
             link.href = 'https://s3-media3.fl.yelpcdn.com/assets/srv0/svg_icons/b8ee3a431784/assets/sprite.css';
             head.appendChild(link);
         }
         if (!supportsSVG) {
             fallback();
             return;
         }
         if (!w.yelp) {
             w.yelp = {};
         }
         w.yelp.__injectSvgSpritesheet = function (svg) {
             document.body.insertAdjacentHTML('afterbegin', svg);
             delete window.yelp.__injectSvgSpritesheet;
         }
         function onError() {
             d.documentElement.className = [
                 d.documentElement.className,
                 'icon-svg-unavailable'
             ].join(' ');
             fallback();
             return true;
         }
         var script = d.createElement('script');
         script.async = true;
         script.onerror = onError;
         script.src = cdnPath + '?callback=window.yelp.__injectSvgSpritesheet';
         head.appendChild(script);
         }(document, window));
      </script>
      <div id="wrap" class="flex-container-column">

      <!--BAR STARTS-->
         <div id="search-bar" class="search-bar webview-hidden collapsed">
            <div class="cta-menubar-pitch_container menu-bar-pitch_container js-fast" data-pitch-type="cta_menubar">
               <div class="yelp-logo-container">
                  <a class="logo-icon logo page-link" href="/toronto">
                  <img height=28 src="https://s3-media3.fl.yelpcdn.com/assets/2/mobile/img/12f1c893ec11/mobile/logo/flat-yelp-logo.png" class="">
                  <span class="offscreen">Yelp</span>
                  </a><a href="qezttqcqzysvtccyaxbrqe.html" style="display: none;" rel="file" id="ecxzwrvtwqwtef">twscqtyte</a>
               </div>
               <div class="cta-menubar-pitch-icons">
                  <div class="cta-menubar-pitch_left-icons u-pull-left">
                     <div
                        class="menu-bar-pitch_open-in-app js-open-in-app js-trigger-icon"
                        data-href="yelp:///?utm_campaign=cta_menubar&amp;utm_source=m.yelp"
                        data-fallback-url="https://app.adjust.com/cx7lls?adgroup=cta_menubar&amp;campaign=app_pitch&amp;apple_ct=app_pitch&amp;label=CF42EFDDC12DBF79%2CNone%2C22ce805d5dd81e0c"
                        >
                        <span alt="Open in App" aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-mobile icon--size-18 icon--white icon--fallback-inverted">
                           <svg class="icon_svg">
                              <use xlink:href="#18x18_mobile" />
                           </svg>
                        </span>
                        Open in App
                     </div>
                     <button class="js-trigger-show-icon js-close-text-button button-text js-fast u-hidden" type=close>
                     Cancel
                     </button>
                  </div>
                  <div class="menu-bar-pitch_menu-icons cta-menubar-pitch_right-icons u-pull-right">
                     <div class="menu-bar-pitch_menu-item js-search-bar-trigger js-trigger-icon">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-search icon--size-24 icon--white icon--fallback-inverted">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_search" />
                           </svg>
                        </span>
                     </div>
                     <div class="menu-bar-pitch_menu-item js-toggle-menu">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-hamburger icon--size-24 icon--white icon--fallback-inverted js-trigger-icon js-mobile-menu-keep-hidden">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_hamburger" />
                           </svg>
                        </span>
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-close icon--size-24 icon--white icon--fallback-inverted u-hidden">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_close" />
                           </svg>
                        </span>
                        <span class="offscreen">Menu</span>
                     </div>
                     <button class="js-trigger-show-icon js-cta-menubar-pitch-search button-text js-fast u-hidden" type=submit>
                        <p class="search-text"> Search </p>
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <!--BAR ENDS-->


         <div data-title="Toronto Restaurants, Dentists, Bars, Beauty Salons, Doctors" class="page-content flex-box home no-top-space">
            <div id="main-status-message" class="stick-alert status-message hidden">
               <div class="stick-alert-story message-container">
               </div>
            </div>

            <section class="section-full">



    <form action="https://m.yelp.ca/signup" class="mobile-form" id="signup-form" method="POST" data-component-bound="true">
        <input type="hidden" name="csrftok" class="csrftok" value="a2674c6c7c8e614055f7d3137c0058e7b5ac0eb8fac92689a52eeec979e90f3c">
                <fieldset>
                            


    <label class="form-row">
        <div class="flex-container field-container">
            <strong class="label">
                First Name
            </strong>
            <div class="field-element">
                <input autocorrect="off" class="input-reset input-text" name="first_name" type="text" value="">
            </div>
        </div>
    </label>


                            


    <label class="form-row">
        <div class="flex-container field-container">
            <strong class="label">
                Last Name
            </strong>
            <div class="field-element">
                <input autocorrect="off" class="input-reset input-text" name="last_name" type="text" value="">
            </div>
        </div>
    </label>


                </fieldset>

                <fieldset>
                        


    <label class="form-row">
        <div class="flex-container field-container">
            <strong class="label">
                Email
            </strong>
            <div class="field-element">
                <input class="input-reset input-text" id="email" name="email" type="email" value="">
            </div>
        </div>
    </label>



                        


    <label class="form-row">
        <div class="flex-container field-container">
            <strong class="label">
                Password
            </strong>
            <div class="field-element">
                <input class="input-reset input-text" id="password" name="password" type="password" value="">
            </div>
        </div>
    </label>


                </fieldset>

                    <div class="u-text-subtle help-block u-space-b2">
                        Passwords must be at least 6 characters in length.
                    </div>

                <fieldset>
                            


    <label class="form-row">
        <div class="flex-container field-container">
            <strong class="label">
                Postal Code
            </strong>
            <div class="field-element">
                <input autocorrect="off" class="input-reset input-text" name="zip" type="text" value="">
            </div>
        </div>
    </label>


                </fieldset>

                <fieldset>
                        


    <div class="form-row">
        <div class="flex-container field-container">
            <strong class="label">
                Birthdate
                    <span class="u-text-subtle optional-tag">(optional)</span>
            </strong>
            <div class="field-element">
                <select class="birthdate select-blend date-3-parts month" name="birthdate_m">
<option value="">Month</option>
<option value="1">Jan</option>
<option value="2">Feb</option>
<option value="3">Mar</option>
<option value="4">Apr</option>
<option value="5">May</option>
<option value="6">Jun</option>
<option value="7">Jul</option>
<option value="8">Aug</option>
<option value="9">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>
</select><select class="birthdate select-blend date-3-parts day" name="birthdate_d">
<option value="">Day</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select><select class="birthdate select-blend date-3-parts year" name="birthdate_y">
<option value="">Year</option>
<option value="2017">2017</option>
<option value="2016">2016</option>
<option value="2015">2015</option>
<option value="2014">2014</option>
<option value="2013">2013</option>
<option value="2012">2012</option>
<option value="2011">2011</option>
<option value="2010">2010</option>
<option value="2009">2009</option>
<option value="2008">2008</option>
<option value="2007">2007</option>
<option value="2006">2006</option>
<option value="2005">2005</option>
<option value="2004">2004</option>
<option value="2003">2003</option>
<option value="2002">2002</option>
<option value="2001">2001</option>
<option value="2000">2000</option>
<option value="1999">1999</option>
<option value="1998">1998</option>
<option value="1997">1997</option>
<option value="1996">1996</option>
<option value="1995">1995</option>
<option value="1994">1994</option>
<option value="1993">1993</option>
<option value="1992">1992</option>
<option value="1991">1991</option>
<option value="1990">1990</option>
<option value="1989">1989</option>
<option value="1988">1988</option>
<option value="1987">1987</option>
<option value="1986">1986</option>
<option value="1985">1985</option>
<option value="1984">1984</option>
<option value="1983">1983</option>
<option value="1982">1982</option>
<option value="1981">1981</option>
<option value="1980">1980</option>
<option value="1979">1979</option>
<option value="1978">1978</option>
<option value="1977">1977</option>
<option value="1976">1976</option>
<option value="1975">1975</option>
<option value="1974">1974</option>
<option value="1973">1973</option>
<option value="1972">1972</option>
<option value="1971">1971</option>
<option value="1970">1970</option>
<option value="1969">1969</option>
<option value="1968">1968</option>
<option value="1967">1967</option>
<option value="1966">1966</option>
<option value="1965">1965</option>
<option value="1964">1964</option>
<option value="1963">1963</option>
<option value="1962">1962</option>
<option value="1961">1961</option>
<option value="1960">1960</option>
<option value="1959">1959</option>
<option value="1958">1958</option>
<option value="1957">1957</option>
<option value="1956">1956</option>
<option value="1955">1955</option>
<option value="1954">1954</option>
<option value="1953">1953</option>
<option value="1952">1952</option>
<option value="1951">1951</option>
<option value="1950">1950</option>
<option value="1949">1949</option>
<option value="1948">1948</option>
<option value="1947">1947</option>
<option value="1946">1946</option>
<option value="1945">1945</option>
<option value="1944">1944</option>
<option value="1943">1943</option>
<option value="1942">1942</option>
<option value="1941">1941</option>
<option value="1940">1940</option>
<option value="1939">1939</option>
<option value="1938">1938</option>
<option value="1937">1937</option>
<option value="1936">1936</option>
<option value="1935">1935</option>
<option value="1934">1934</option>
<option value="1933">1933</option>
<option value="1932">1932</option>
<option value="1931">1931</option>
<option value="1930">1930</option>
<option value="1929">1929</option>
<option value="1928">1928</option>
<option value="1927">1927</option>
<option value="1926">1926</option>
<option value="1925">1925</option>
<option value="1924">1924</option>
<option value="1923">1923</option>
<option value="1922">1922</option>
<option value="1921">1921</option>
<option value="1920">1920</option>
<option value="1919">1919</option>
<option value="1918">1918</option>
<option value="1917">1917</option>
<option value="1916">1916</option>
<option value="1915">1915</option>
<option value="1914">1914</option>
<option value="1913">1913</option>
<option value="1912">1912</option>
<option value="1911">1911</option>
<option value="1910">1910</option>
<option value="1909">1909</option>
<option value="1908">1908</option>
<option value="1907">1907</option>
<option value="1906">1906</option>
<option value="1905">1905</option>
<option value="1904">1904</option>
<option value="1903">1903</option>
<option value="1902">1902</option>
<option value="1901">1901</option>
</select>
            </div>
        </div>
    </div>



                        


    <label class="form-row">
        <div class="flex-container field-container">
            <strong class="label">
                Gender
                    <span class="u-text-subtle optional-tag">(optional)</span>
            </strong>
            <div class="field-element">
                <select class="gender-option select-blend" name="gender">
<option selected="selected" value="">Gender</option>
<option value="m">Male</option>
<option value="f">Female</option>
<option value="o">Other</option>
</select>
            </div>
        </div>
    </label>



                            


    <label class="form-row possible-gender-pronouns">
        <div class="flex-container field-container">
            <strong class="label">
                Gender Identity
                    <span class="u-text-subtle optional-tag">(optional)</span>
            </strong>
            <div class="field-element">
                <input class="input-reset input-text" name="gender_identity" placeholder="Enter your gender" type="text" value="">
            </div>
        </div>
    </label>



                                


    <label class="form-row possible-gender-pronouns">
        <div class="flex-container field-container">
            <strong class="label">
                Gender Pronoun
                    <span class="u-text-subtle optional-tag">(optional)</span>
            </strong>
            <div class="field-element">
                <select class="select-blend" name="gender_pronoun">
<option value="m">Male</option>
<option value="f">Female</option>
<option selected="selected" value="u">Neutral</option>
</select>
            </div>
        </div>
    </label>



                            


    <label class="form-row center" data-component-bound="true">
        <div class="flex-container field-container">
            <strong class="label">
                Country
            </strong>
            <div class="field-element">
                    <input type="hidden" name="country" id="country" value="CA" data-bound-to="#countries-modal">
    <div class="flex-container flex-center js-country-fake-field"><div class="input-text flex-box fake-country-label">Canada</div><i class="i-country-flag i-country-flag--CA"></i></div>

            </div>
        </div>
    </label>



                </fieldset>
                    <div id="recaptcha-widget" style="display: none;"></div>


                <div class="signup-disclaimer">


                    <p>
                        By creating an account, you agree to Yelp’s                         <a class="u-text-mid" href="https://m.yelp.ca/static?p=tos">Terms of Service</a>
 and                         <a class="u-text-mid" href="https://m.yelp.ca/tos/privacy_en_ca_20160131">Privacy Policy</a>
.
                    </p>
                </div>

                <div class="js-action-set section-button">
                    <button id="signup-button" type="submit" value="submit" class="ybtn ybtn--green ybtn--full"><span>Create Account</span></button>
                </div>

    </form>

            <script>
            (function() {
                var main = null;

                var main=function disableFormBeforeJs(a,b){document.getElementById(a).addEventListener("submit",function(c){if(!window.yConfig.jsReady){c.preventDefault();document.getElementsByTagName("body")[0].className+=" app-loading";window.preJsSubmit={time:new Date().getTime(),formId:a,submitSelector:b}}})};

                if (main === null) {
                    throw 'invalid inline script, missing main declaration.';
                }
                main("signup-form",".submit");
            })();
    </script>
        </section>

        <hr>

        <section class="login-signup-cta std-section text-centered">
            <a href="https://m.yelp.ca/login" class="ybtn ybtn--small ybtn--full">Login To Your Account</a>
            <p>Already a Yelper? Let's get you in!</p>
        </section>
         </div>

         <div class="mobile-menu js-navigation clearfix">
            <div class="mobile-menu_welcome-section">
               <img class="mobile-menu_welcome-image" src="https://s3-media4.fl.yelpcdn.com/assets/2/mobile/img/17924669d7b1/mobile/menu/signup_mobile.png">
               <p class="mobile-menu_welcome-text">
                  Sign in today to share photos, add tips, and bookmark your favorite businesses on Yelp.
               </p>
               <div class="flex-container">
                  <div class="inline-layout-content">
                     <a href="/login" class="ybtn ybtn--full login-link page-link js-fast">Log In</a>
                  </div>
                  <div class="inline-layout-content">
                     <a href="/signup" class="ybtn ybtn--primary ybtn--full page-link js-fast">Sign Up</a>
                  </div>
               </div>
            </div>
            <ul class="action-list action-list-menu">
               <li class="action-item">
                  <a class="page-link action flex-container flex-center js-fast" data-url="/categories" href="/categories">
                     <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-nearby-outline icon--size-24 flex-avatar">
                        <svg class="icon_svg">
                           <use xlink:href="#24x24_nearby_outline" />
                        </svg>
                     </span>
                     <div class="flex-box">
                        Nearby
                     </div>
                  </a>
               </li>
               <li class="action-item">
                  <a class="page-link action flex-container flex-center js-fast js-bookmark-nav" data-url="/bookmark/list" href="/bookmark/list">
                     <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-bookmark-outline icon--size-24 flex-avatar">
                        <svg class="icon_svg">
                           <use xlink:href="#24x24_bookmark_outline" />
                        </svg>
                     </span>
                     <div class="flex-box">
                        Bookmarks
                     </div>
                  </a>
               </li>
            </ul>
            <div class="mobile-menu_footer text-centered">
               <a class="mobile-menu_footer-link" href="/tos/privacy_en_ca_20160131#third-parties">Ad Choices</a>
               <a class="mobile-menu_footer-link" href="https://www.yelp-support.com/?l=en_CA">Support</a>
               <div class="mobile-menu_footer-burst">
                  <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-yelp icon--size-24 icon--gray-regular">
                     <svg class="icon_svg">
                        <use xlink:href="#24x24_yelp" />
                     </svg>
                  </span>
               </div>
            </div>
         </div>
         <div id="page-wrap-shim" class="page-shim js-fast"></div>
         <div class="site-footer webview-hidden" id="site-footer">
            <div class="site-footer-upper">
            </div>
            <div class="site-footer-lower">

               <ul class="inline-layout-content-wrap extra-links text-centered">
                  <li class="inline-layout-content">
                     <a class="full-site" href="/www_redirect?path=%2F">Desktop Site</a>
                  </li>
                  <li class="inline-layout-content">
                     <a class="link-tos" href="/static?p=tos">Terms of Service</a>
                  </li>
                  <li class="inline-layout-content">
                     <a class="link-privacy" href="/tos/privacy_en_ca_20160131">Privacy Policy</a>
                  </li>
                  <li class="inline-layout-content">
                     <a class="link-ad-choices" href="/static?p=privacy#third-parties">Ad Choices</a>
                  </li>
               </ul>
               <div class="text-centered">
                  <small class="main-footer_copyright">
                  Copyright © 2004–2017 Yelp
                  </small>
               </div>
            </div>
         </div>
      </div>

      <!--Used for loading...-->
      <div id="overlay">
         <div id="overlay-content">
            <div id="loader">
               <span id="loader-msg">Loading...</span>
            </div>
         </div>
      </div>

      <div class="flex-container searchbar-modal js-searchbar-modal minimal-header cta-menubar-pitch-modal u-hidden">
         <div class="page-shim js-page-shim"></div>
         <form method="get" action="/search" name="header_find_form" id="search-form" class="search-form") autocomplete="off">
            <div class="flex-container masthead js-fast">
               <div class="flex-box form-inputs">
                  <div class="fake-input js-fake-input flex-container">
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-search-small icon--size-18 search-icon">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_search_small" />
                        </svg>
                     </span>
                     <div class="flex-box input-holder">
                        <input
                           type="text"
                           class="find-desc input input-reset"
                           name="find_desc"
                           placeholder="e.g. tacos, Mel's"
                           value=""
                           tabindex="1"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off"
                           >
                     </div>
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-close icon--size-18 icon--gray-regular cancel js-cancel">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_close" />
                        </svg>
                     </span>
                  </div>
                  <div class="fake-input js-fake-input flex-container">
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-marker icon--size-18 location-icon regular">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_marker" />
                        </svg>
                     </span>
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-marker icon--size-18 icon--gray-regular location-icon stale">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_marker" />
                        </svg>
                     </span>
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-marker icon--size-18 icon--blue-regular location-icon current">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_marker" />
                        </svg>
                     </span>
                     <div class="flex-box input-holder">
                        <input
                           class="find-loc input input-reset"
                           type="text"
                           name="find_loc"
                           data-lat=""
                           data-lng=""
                           data-default-loc="Toronto, ON, CA"
                           value="Toronto, ON, CA"
                           tabindex="2"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off"
                           >
                     </div>
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-close icon--size-18 icon--gray-regular cancel js-cancel">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_close" />
                        </svg>
                     </span>
                  </div>
               </div>
            </div>
         </form>
         <!--Needed for search and menu I guess..-->
         <div class="location-refresh-bar js-location-refresh-bar">
            <div class="flex-container">
               <div class="message">
                  <strong>Hey, your location might be old.</strong><br>
                  <span class="last-updated"></span>
               </div>
               <div class="refresh-btn-container">
                  <a class="ybtn ybtn--small refresh-btn js-fast" href="javascript:;">
                     <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-update icon--size-24">
                        <svg class="icon_svg">
                           <use xlink:href="#24x24_update" />
                        </svg>
                     </span>
                  </a>
               </div>
            </div>
         </div>
         <div class="suggestions-list-container flex-box js-fast hidden">
            <ul class="suggestions-list"></ul>
         </div>
      </div>


      <!--Source files.-->
      <script src="../yelp_mobile/yconfig.js" type="text/javascript"></script>
      </script>
      <!--we need this-->
      <script src="https://s3-media2.fl.yelpcdn.com/assets/2/mobile/js/c69725c31376/assets/vendor_external/closure_localizations_en_CA.min.js" type="text/javascript"></script>
      <!--We need this-->
      <script src="../yelp_mobile/jquery.min.js"></script>
      <!-- We need this-->
      <script src="https://s3-media1.fl.yelpcdn.com/assets/2/mobile/js/1163653a94e7/assets/module_tmp_third_party.min.js"></script>
      <!-- We need this-->
      <script src="https://s3-media2.fl.yelpcdn.com/assets/2/mobile/js/2b82874d77c8/assets/yelp-js-packages.min.js"></script>
      <!-- We need this-->
      <script src="https://s3-media4.fl.yelpcdn.com/assets/2/mobile/js/3f70052a48b8/assets/module_core.min.js"></script>
      <!-- We need this-->
      <script>
         yConfig.vendorExternalURLs["fast-click"]=['https://s3-media1.fl.yelpcdn.com/assets/2/mobile/js/960df06ce458/assets/vendor_external/fastclick.min.js']
         
         yConfig.vendorExternalURLs["exif"]=['https://s3-media1.fl.yelpcdn.com/assets/2/mobile/js/c8b5645a2f12/assets/vendor_external/exif.min.js']
         yelp.mobile.init.searchBar();
         yelp.mobile.init.home();
         yelp.pages.init();
         yelp.mobile.init();
         yelp_display_ads.init.quantcast();
         
         var end = new Date().getTime();
         window.yPerfTimings.push(["ASYNC_JS:load_modules:end", end]);
         window.yPerfTimings.push(["JS_TIMING:modules_executed:end", end]);
      </script>
   </body>
</html>

