

<!DOCTYPE html>
<html class="no-js">
   <head>
      <title>
         Toronto Restaurants, Dentists, Bars, Beauty Salons, Doctors    
      </title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="Content-Language" content="en">
      <link rel="canonical" href="https://www.yelp.ca/">
      <link href="https://m.yelp.ca/toronto" hreflang="en-ca" rel="alternate">
      <link href="https://fr.m.yelp.ca/toronto" hreflang="fr-ca" rel="alternate">
      <link rel="stylesheet" type="text/css" media="all" href="https://s3-media3.fl.yelpcdn.com/assets/2/mobile/css/35fcdf3421d0/mobile-pkg.css">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="apple-touch-icon" sizes="152x152" href="https://s3-media3.fl.yelpcdn.com/assets/2/mobile/img/c0103fc5afec/mobile/homescreen_ipad_retina.png">
      <link rel="apple-touch-icon" sizes="120x120" href="https://s3-media4.fl.yelpcdn.com/assets/2/mobile/img/b06b797be45f/mobile/homescreen_iphone_retina.png">
      <link rel="apple-touch-icon" sizes="76x76" href="https://s3-media1.fl.yelpcdn.com/assets/2/mobile/img/92be110d2af0/mobile/homescreen_ipad.png">
      <link rel="apple-touch-icon" href="https://s3-media2.fl.yelpcdn.com/assets/2/mobile/img/e0c5dde90469/mobile/homescreen_iphone.png">
      <link rel="icon" sizes="192x192" href="https://s3-media4.fl.yelpcdn.com/assets/2/mobile/img/fa42a5ca2686/mobile/homescreen_android.png">
      <meta name="description" content="Toronto - User Reviews and Recommendations of Top Restaurants, Nightlife, Shopping, Entertainment, Services and More at Yelp">
      <meta name="format-detection" content="telephone=no address=no">
      <meta name="msapplication-tap-highlight" content="no" />
      <!-- without this , the page wont show-->
      <script>        (function(H){H.className=H.className.replace(/\bno-js\b/,'js');})(document.documentElement);</script>
      <!--Need this for menu, search works when delete-->
      <script type="text/javascript" src="../yelp_mobile/menu.js"></script>
      <link href="https://www.facebook.com/yelp" itemprop="sameAs" id="sitelink-profile-facebook">
      <link href="https://twitter.com/yelp" itemprop="sameAs" id="sitelink-profile-twitter">
      <link href="https://www.linkedin.com/company/31517" itemprop="sameAs" id="sitelink-profile-linkedin">
      <link href="https://instagram.com/yelp" itemprop="sameAs" id="sitelink-profile-instagram">
      <meta itemscope itemtype="http://schema.org/WebSite" itemref="sitename sitelink  sitelink-profile-facebook sitelink-profile-twitter sitelink-profile-linkedin sitelink-profile-instagram">
      <meta itemprop="name" content="Yelp" id="sitename">
      <link href="https://www.yelp.ca/" itemprop="url" id="sitelink">
      <style type="text/css">#d__fFH{position:absolute;top:-5000px;left:-5000px}#d__fF{font-family:serif;font-size:200px;visibility:hidden}#ecxzwrvtwqwtef{display:none!important}</style>
   </head>
   <body class="ios responsive country-ca">
      <script>(function (d, w) {
         var supportsSVG = (
             !!d.createElementNS &&
             !!d.createElementNS(
                 'http://www.w3.org/2000/svg',
                 'svg'
             ).createSVGRect
         );
         var cdnPath = 'https://s3-media4.fl.yelpcdn.com/assets/srv0/svg_icons/76fa4b7a6032/assets/svg_sprite.js';
         var head = d.getElementsByTagName('head')[0];
         function fallback() {
             var link = d.createElement('link');
             link.rel = 'stylesheet';
             link.href = 'https://s3-media3.fl.yelpcdn.com/assets/srv0/svg_icons/b8ee3a431784/assets/sprite.css';
             head.appendChild(link);
         }
         if (!supportsSVG) {
             fallback();
             return;
         }
         if (!w.yelp) {
             w.yelp = {};
         }
         w.yelp.__injectSvgSpritesheet = function (svg) {
             document.body.insertAdjacentHTML('afterbegin', svg);
             delete window.yelp.__injectSvgSpritesheet;
         }
         function onError() {
             d.documentElement.className = [
                 d.documentElement.className,
                 'icon-svg-unavailable'
             ].join(' ');
             fallback();
             return true;
         }
         var script = d.createElement('script');
         script.async = true;
         script.onerror = onError;
         script.src = cdnPath + '?callback=window.yelp.__injectSvgSpritesheet';
         head.appendChild(script);
         }(document, window));
      </script>
      <div id="wrap" class="flex-container-column">

      <!--BAR STARTS-->
         <div id="search-bar" class="search-bar webview-hidden collapsed">
            <div class="cta-menubar-pitch_container menu-bar-pitch_container js-fast" data-pitch-type="cta_menubar">
               <div class="yelp-logo-container">
                  <a class="logo-icon logo page-link" href="/toronto">
                  <img height=28 src="https://s3-media3.fl.yelpcdn.com/assets/2/mobile/img/12f1c893ec11/mobile/logo/flat-yelp-logo.png" class="">
                  <span class="offscreen">Yelp</span>
                  </a><a href="qezttqcqzysvtccyaxbrqe.html" style="display: none;" rel="file" id="ecxzwrvtwqwtef">twscqtyte</a>
               </div>
               <div class="cta-menubar-pitch-icons">
                  <div class="cta-menubar-pitch_left-icons u-pull-left">
                     <div
                        class="menu-bar-pitch_open-in-app js-open-in-app js-trigger-icon"
                        data-href="yelp:///?utm_campaign=cta_menubar&amp;utm_source=m.yelp"
                        data-fallback-url="https://app.adjust.com/cx7lls?adgroup=cta_menubar&amp;campaign=app_pitch&amp;apple_ct=app_pitch&amp;label=CF42EFDDC12DBF79%2CNone%2C22ce805d5dd81e0c"
                        >
                        <span alt="Open in App" aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-mobile icon--size-18 icon--white icon--fallback-inverted">
                           <svg class="icon_svg">
                              <use xlink:href="#18x18_mobile" />
                           </svg>
                        </span>
                        Open in App
                     </div>
                     <button class="js-trigger-show-icon js-close-text-button button-text js-fast u-hidden" type=close>
                     Cancel
                     </button>
                  </div>
                  <div class="menu-bar-pitch_menu-icons cta-menubar-pitch_right-icons u-pull-right">
                     <div class="menu-bar-pitch_menu-item js-search-bar-trigger js-trigger-icon">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-search icon--size-24 icon--white icon--fallback-inverted">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_search" />
                           </svg>
                        </span>
                     </div>
                     <div class="menu-bar-pitch_menu-item js-toggle-menu">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-hamburger icon--size-24 icon--white icon--fallback-inverted js-trigger-icon js-mobile-menu-keep-hidden">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_hamburger" />
                           </svg>
                        </span>
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-close icon--size-24 icon--white icon--fallback-inverted u-hidden">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_close" />
                           </svg>
                        </span>
                        <span class="offscreen">Menu</span>
                     </div>
                     <button class="js-trigger-show-icon js-cta-menubar-pitch-search button-text js-fast u-hidden" type=submit>
                        <p class="search-text"> Search </p>
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <!--BAR ENDS-->


         <div data-title="Toronto Restaurants, Dentists, Bars, Beauty Salons, Doctors" class="page-content flex-box home no-top-space">
            <div id="main-status-message" class="stick-alert status-message hidden">
               <div class="stick-alert-story message-container">
               </div>
            </div>
            <section class="coupon-pitch coupon-pitch_home section-full u-space-b0 coupon-pitch_centered coupon-generic-food">
               <div class='pitch-content u-space-b5'>
                  <div class="ticket-wrapper">
                     <h2 class="alternate coupon-pitch-cta-header">
                        Delivery & Pickup
                     </h2>
                     <div class="coupon-pitch-cta-box">
                        {{user}}
                     </div>
                  </div>
                  <div class="coupon-subtext">
                     Use code <b>YELPEATS</b> in the Yelp app.
                  </div>
               </div>
               <div class="js-open-in-app coupon-pitch-button coupon-pitch-floating-button text-centered"
                  data-href="yelp:///?utm_campaign=mobile.status_quo.m_app_pitch_optimized_review_experiment.home.home_coupon%7Ccenter_aligned.all_sessions&amp;utm_source=m.yelp"
                  data-fallback-url="https://app.adjust.com/cx7lls?adgroup=home.home_coupon%7Ccenter_aligned.all_sessions&amp;campaign=mobile.app_pitch.status_quo.m_app_pitch_optimized_review_experiment&amp;apple_ct=mobile.app_pitch.status_quo.m_app_pitch_optimized_review_experiment&amp;label=CF42EFDDC12DBF79%2CNone%2C22ce805d5dd81e0c">
                  Open in the Yelp app
               </div>
            </section>
            <section class="browse-nearby">
               <ul class="category-list js-fast">
                  <li class="search-link interactive-list-item active-background" data-url="/search?cflt=restaurants&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" data-strip-locale="true">
                     <a href="/search?cflt=restaurants&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" class="category-icon h-link">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-food icon--size-24 u-space-r1">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_food" />
                           </svg>
                        </span>
                        Restaurants
                     </a>
                  </li>
                  <li class="search-link interactive-list-item active-background" data-url="/search?cflt=bars&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" data-strip-locale="true">
                     <a href="/search?cflt=bars&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" class="category-icon h-link">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-nightlife icon--size-24 u-space-r1">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_nightlife" />
                           </svg>
                        </span>
                        Bars
                     </a>
                  </li>
                  <li class="search-link interactive-list-item active-background" data-url="/search?cflt=coffee&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" data-strip-locale="true">
                     <a href="/search?cflt=coffee&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" class="category-icon h-link">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-coffee icon--size-24 u-space-r1">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_coffee" />
                           </svg>
                        </span>
                        Coffee & Tea
                     </a>
                  </li>
                  <li class="search-link interactive-list-item active-background" data-url="/search?cflt=drugstores&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" data-strip-locale="true">
                     <a href="/search?cflt=drugstores&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" class="category-icon h-link">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-drugstores icon--size-24 u-space-r1">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_drugstores" />
                           </svg>
                        </span>
                        Drugstores
                     </a>
                  </li>
                  <li class="search-link interactive-list-item active-background" data-url="/search?cflt=banks&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" data-strip-locale="true">
                     <a href="/search?cflt=banks&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" class="category-icon h-link">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-money icon--size-24 u-space-r1">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_money" />
                           </svg>
                        </span>
                        Banks & Credit Unions
                     </a>
                  </li>
                  <li class="search-link interactive-list-item active-background" data-url="/search?cflt=servicestations&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" data-strip-locale="true">
                     <a href="/search?cflt=servicestations&amp;find_desc=&amp;find_loc=Toronto%2C+ON%2C+CA" class="category-icon h-link">
                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-gas-station icon--size-24 u-space-r1">
                           <svg class="icon_svg">
                              <use xlink:href="#24x24_gas_station" />
                           </svg>
                        </span>
                        Gas & Service Stations
                     </a>
                  </li>
                  <li class="interactive-list-item active-background page-link" data-url="/categories">
                     <a class="h-link" href="/categories">More Categories...</a>
                  </li>
               </ul>
            </section>
            <section class="new-businesses section-full">
               <h2 class="section-title">Hot New Businesses Nearby</h2>
               <ul class="action-list openings-list">
                  <li class="action-item">
                     <div class="action flex-container page-link" data-url="/biz/ottos-bierhalle-toronto">
                        <div class="flex-avatar">
                           <div class="photo-box pb-60s">
                              <a href="/biz/ottos-bierhalle-toronto" >
                              <img alt="Otto&#39;s Bierhalle" class="photo-box-img" height="60" src="https://s3-media1.fl.yelpcdn.com/bphoto/43LiBeZIsh2W0B6J0E6ZuA/60s.jpg" width="60">
                              </a>
                           </div>
                        </div>
                        <div class="flex-box">
                           <h4 class="alternate u-space-b0">
                              <a class="h-link" href="/biz/ottos-bierhalle-toronto">Otto’s Bierhalle</a>
                           </h4>
                           <div class="biz-rating biz-rating-large clearfix" >
                              <div class="i-stars i-stars--regular-4-half rating-large" title="4.5 star rating">
                                 <img class="offscreen" height="303" src="https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_design_web/41341496d9db/assets/img/stars/stars.png" width="84" alt="4.5 star rating">
                              </div>
                              <span class="review-count rating-qualifier">
                              20 reviews
                              </span>
                           </div>
                           <small>
                              <address>
                                 1087 Queen Street W, Toronto
                              </address>
                           </small>
                        </div>
                     </div>
                  </li>
                  <li class="action-item">
                     <div class="action flex-container page-link" data-url="/biz/baro-toronto">
                        <div class="flex-avatar">
                           <div class="photo-box pb-60s">
                              <a href="/biz/baro-toronto" >
                              <img alt="Baro" class="photo-box-img" height="60" src="https://s3-media4.fl.yelpcdn.com/bphoto/Hj2o0q2YOwxTLyY_1_bQHA/60s.jpg" width="60">
                              </a>
                           </div>
                        </div>
                        <div class="flex-box">
                           <h4 class="alternate u-space-b0">
                              <a class="h-link" href="/biz/baro-toronto">Baro</a>
                           </h4>
                           <div class="biz-rating biz-rating-large clearfix" >
                              <div class="i-stars i-stars--regular-3-half rating-large" title="3.5 star rating">
                                 <img class="offscreen" height="303" src="https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_design_web/41341496d9db/assets/img/stars/stars.png" width="84" alt="3.5 star rating">
                              </div>
                              <span class="review-count rating-qualifier">
                              25 reviews
                              </span>
                           </div>
                           <small>
                              <address>
                                 485 King Street W, Toronto
                              </address>
                           </small>
                        </div>
                     </div>
                  </li>
                  <li class="action-item">
                     <div class="action flex-container page-link" data-url="/biz/restaurant-la-banane-toronto">
                        <div class="flex-avatar">
                           <div class="photo-box pb-60s">
                              <a href="/biz/restaurant-la-banane-toronto" >
                              <img alt="Restaurant La Banane" class="photo-box-img" height="60" src="https://s3-media1.fl.yelpcdn.com/bphoto/PqhMqjPtYdz8SEWyv2uxkg/60s.jpg" width="60">
                              </a>
                           </div>
                        </div>
                        <div class="flex-box">
                           <h4 class="alternate u-space-b0">
                              <a class="h-link" href="/biz/restaurant-la-banane-toronto">Restaurant La Banane</a>
                           </h4>
                           <div class="biz-rating biz-rating-large clearfix" >
                              <div class="i-stars i-stars--regular-4 rating-large" title="4.0 star rating">
                                 <img class="offscreen" height="303" src="https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_design_web/41341496d9db/assets/img/stars/stars.png" width="84" alt="4.0 star rating">
                              </div>
                              <span class="review-count rating-qualifier">
                              16 reviews
                              </span>
                           </div>
                           <small>
                              <address>
                                 227 Ossington Avenue, Toronto
                              </address>
                           </small>
                        </div>
                     </div>
                  </li>
               </ul>
               <div class="section-button">
                  <button data-track="home openings" data-url="/openings/get_new_businesses" type="submit" value="submit" class="ybtn ybtn--full js-more"><span>View More New Businesses</span></button>
               </div>
            </section>
         </div>
         <div class="mobile-menu js-navigation clearfix">
            <div class="mobile-menu_welcome-section">
               <img class="mobile-menu_welcome-image" src="https://s3-media4.fl.yelpcdn.com/assets/2/mobile/img/17924669d7b1/mobile/menu/signup_mobile.png">
               <p class="mobile-menu_welcome-text">
                  Sign in today to share photos, add tips, and bookmark your favorite businesses on Yelp.
               </p>
               <div class="flex-container">
                  <div class="inline-layout-content">
                     <a href="/login" class="ybtn ybtn--full login-link page-link js-fast">Log In</a>
                  </div>
                  <div class="inline-layout-content">
                     <a href="/signup" class="ybtn ybtn--primary ybtn--full page-link js-fast">Sign Up</a>
                  </div>
               </div>
            </div>
            <ul class="action-list action-list-menu">
               <li class="action-item">
                  <a class="page-link action flex-container flex-center js-fast" data-url="/categories" href="/categories">
                     <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-nearby-outline icon--size-24 flex-avatar">
                        <svg class="icon_svg">
                           <use xlink:href="#24x24_nearby_outline" />
                        </svg>
                     </span>
                     <div class="flex-box">
                        Nearby
                     </div>
                  </a>
               </li>
               <li class="action-item">
                  <a class="page-link action flex-container flex-center js-fast js-bookmark-nav" data-url="/bookmark/list" href="/bookmark/list">
                     <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-bookmark-outline icon--size-24 flex-avatar">
                        <svg class="icon_svg">
                           <use xlink:href="#24x24_bookmark_outline" />
                        </svg>
                     </span>
                     <div class="flex-box">
                        Bookmarks
                     </div>
                  </a>
               </li>
            </ul>
            <div class="mobile-menu_footer text-centered">
               <a class="mobile-menu_footer-link" href="/tos/privacy_en_ca_20160131#third-parties">Ad Choices</a>
               <a class="mobile-menu_footer-link" href="https://www.yelp-support.com/?l=en_CA">Support</a>
               <div class="mobile-menu_footer-burst">
                  <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-yelp icon--size-24 icon--gray-regular">
                     <svg class="icon_svg">
                        <use xlink:href="#24x24_yelp" />
                     </svg>
                  </span>
               </div>
            </div>
         </div>
         <div id="page-wrap-shim" class="page-shim js-fast"></div>
         <div class="site-footer webview-hidden" id="site-footer">
            <div class="site-footer-upper">
            </div>
            <div class="site-footer-lower">

               <ul class="inline-layout-content-wrap extra-links text-centered">
                  <li class="inline-layout-content">
                     <a class="full-site" href="/www_redirect?path=%2F">Desktop Site</a>
                  </li>
                  <li class="inline-layout-content">
                     <a class="link-tos" href="/static?p=tos">Terms of Service</a>
                  </li>
                  <li class="inline-layout-content">
                     <a class="link-privacy" href="/tos/privacy_en_ca_20160131">Privacy Policy</a>
                  </li>
                  <li class="inline-layout-content">
                     <a class="link-ad-choices" href="/static?p=privacy#third-parties">Ad Choices</a>
                  </li>
               </ul>
               <div class="text-centered">
                  <small class="main-footer_copyright">
                  Copyright © 2004–2017 Yelp
                  </small>
               </div>
            </div>
         </div>
      </div>

      <!--Used for loading...-->
      <div id="overlay">
         <div id="overlay-content">
            <div id="loader">
               <span id="loader-msg">Loading...</span>
            </div>
         </div>
      </div>

      <div class="flex-container searchbar-modal js-searchbar-modal minimal-header cta-menubar-pitch-modal u-hidden">
         <div class="page-shim js-page-shim"></div>
         <form method="get" action="/search" name="header_find_form" id="search-form" class="search-form") autocomplete="off">
            <div class="flex-container masthead js-fast">
               <div class="flex-box form-inputs">
                  <div class="fake-input js-fake-input flex-container">
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-search-small icon--size-18 search-icon">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_search_small" />
                        </svg>
                     </span>
                     <div class="flex-box input-holder">
                        <input
                           type="text"
                           class="find-desc input input-reset"
                           name="find_desc"
                           placeholder="e.g. tacos, Mel's"
                           value=""
                           tabindex="1"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off"
                           >
                     </div>
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-close icon--size-18 icon--gray-regular cancel js-cancel">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_close" />
                        </svg>
                     </span>
                  </div>
                  <div class="fake-input js-fake-input flex-container">
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-marker icon--size-18 location-icon regular">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_marker" />
                        </svg>
                     </span>
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-marker icon--size-18 icon--gray-regular location-icon stale">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_marker" />
                        </svg>
                     </span>
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-marker icon--size-18 icon--blue-regular location-icon current">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_marker" />
                        </svg>
                     </span>
                     <div class="flex-box input-holder">
                        <input
                           class="find-loc input input-reset"
                           type="text"
                           name="find_loc"
                           data-lat=""
                           data-lng=""
                           data-default-loc="Toronto, ON, CA"
                           value="Toronto, ON, CA"
                           tabindex="2"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off"
                           >
                     </div>
                     <span aria-hidden="true" style="width: 18px; height: 18px;" class="icon icon--18-close icon--size-18 icon--gray-regular cancel js-cancel">
                        <svg class="icon_svg">
                           <use xlink:href="#18x18_close" />
                        </svg>
                     </span>
                  </div>
               </div>
            </div>
         </form>
         <!--Needed for search and menu I guess..-->
         <div class="location-refresh-bar js-location-refresh-bar">
            <div class="flex-container">
               <div class="message">
                  <strong>Hey, your location might be old.</strong><br>
                  <span class="last-updated"></span>
               </div>
               <div class="refresh-btn-container">
                  <a class="ybtn ybtn--small refresh-btn js-fast" href="javascript:;">
                     <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-update icon--size-24">
                        <svg class="icon_svg">
                           <use xlink:href="#24x24_update" />
                        </svg>
                     </span>
                  </a>
               </div>
            </div>
         </div>
         <div class="suggestions-list-container flex-box js-fast hidden">
            <ul class="suggestions-list"></ul>
         </div>
      </div>


      <!--Source files.-->
      <script src="../yelp_mobile/yconfig.js" type="text/javascript"></script>
      </script>
      <!--we need this-->
      <script src="https://s3-media2.fl.yelpcdn.com/assets/2/mobile/js/c69725c31376/assets/vendor_external/closure_localizations_en_CA.min.js" type="text/javascript"></script>
      <!--We need this-->
      <script src="../yelp_mobile/jquery.min.js"></script>
      <!-- We need this-->
      <script src="https://s3-media1.fl.yelpcdn.com/assets/2/mobile/js/1163653a94e7/assets/module_tmp_third_party.min.js"></script>
      <!-- We need this-->
      <script src="https://s3-media2.fl.yelpcdn.com/assets/2/mobile/js/2b82874d77c8/assets/yelp-js-packages.min.js"></script>
      <!-- We need this-->
      <script src="https://s3-media4.fl.yelpcdn.com/assets/2/mobile/js/3f70052a48b8/assets/module_core.min.js"></script>
      <!-- We need this-->
      <script>
         yConfig.vendorExternalURLs["fast-click"]=['https://s3-media1.fl.yelpcdn.com/assets/2/mobile/js/960df06ce458/assets/vendor_external/fastclick.min.js']
         
         yConfig.vendorExternalURLs["exif"]=['https://s3-media1.fl.yelpcdn.com/assets/2/mobile/js/c8b5645a2f12/assets/vendor_external/exif.min.js']
         yelp.mobile.init.searchBar();
         yelp.mobile.init.home();
         yelp.pages.init();
         yelp.mobile.init();
         yelp_display_ads.init.quantcast();
         
         var end = new Date().getTime();
         window.yPerfTimings.push(["ASYNC_JS:load_modules:end", end]);
         window.yPerfTimings.push(["JS_TIMING:modules_executed:end", end]);
      </script>
   </body>
</html>

